/* 顶部导航 */
.topnav{
    position: relative;
    z-index: 100;
    width: 100%;
    height: 28px;
    background-color: #222222;
}

.topnav-left {
    float: left;
    line-height: 28px;
}

.topnav-left a {
    position: relative;
    float: left;
    color: #fff;
    padding-right: 18px;
}

.topnav-left a:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0px;
    margin-top: -2.5px;
    display: block;
    width: 8px;
    height: 5px;
}

.topnav-left-jituan-up:after {
    background-image: url(../images/shangjiantou.png);
}

.topnav-left-jituan-lo:after {
    background-image: url(../images/xiajiantou.png);
}

.topnav-left img {
    margin-left: 10px;
    width: 8px;
    height: 5px;
}

.topnav-right {
    float: right;
    line-height: 28px;
}

.topnav-right a {
    position: relative;
    float: left;
    color: #fff;
    font-weight: 700;
}

.topnav-right a:hover {
    text-decoration: underline;
}

.topnav-region {
    padding-right: 34px;
}

.topnav-region:before {
    content: "";
    position: absolute;
    top: 50%;
    left:-26px;
    margin-top: -7px;
    width: 14px;
    height: 14px;
    background-image: url(../images/quyu.png);


}

.topnav-region:after {
    content: "";
    position: absolute;
    top: 50%;
    right:14px;
    margin-top: -2.5px;
    width: 8px;
    height: 5px;
    background-image: url(../images/xiajiantou.png);


}

.topnav-login {
    padding-left: 34px;
    padding-right: 12px;
    line-height: 28px;
    border-left: 1px solid #909090;
}

.topnav-login:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -6px;
    width: 12px;
    height: 12px;
    background-image: url(../images/denglu.png);
}
/* 展开 */
.topnav-jituan-open {
    position: relative;
    z-index: 45;
    overflow: hidden;
    height: 0;
    transition: all 0.4s;
    background-color: #fff;
}

.topnav-jituan-open ul {
    float: left;
    padding: 40px 0;
}

.topnav-jituan-open li {
    float: left;
    width: 216px;
    margin-right: 60px;

}

.topnav-jituan-open h3 {
    font-size: 14px;
    margin-bottom: 10px;
}

.topnav-jituan-open p {
    font-size: 14px;
    line-height: 22px;
}

.topnav-jituan-open a {
    position: relative;
    color: #f66f6a;
}

.topnav-jituan-open a:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -20px;
    width: 6px;
    height: 9px;
    margin-top: -4.5px;
    background-image: url(../images/jiantou_right_red.png);
}

.topnav-jituan-open a:hover:after {
    transition: all 0.2s;
    right: -30px;
}
/* 导航栏 */
.searchnav {
    position: relative;
    z-index: 50;
    height: 74px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #ccc;
}

.searchnav-left {
    float: left;
}

.searchnav-left a {
    color: #282828;
}

.searchnav-left a:hover {
    color: #f66f6a;
}

.searchnav-logo {
    float: left;
    display: block;
    margin-top: 20px;
    margin-right: 60px;
}

.searchnav-logo img {
    width: 133px;
    height: 30px;
}

.searchnav ul {
    float: left;
    height: 50px;
    margin-top: 14px;
}

.searchnav-left li,
.searchnav-service-li_1-open-in li {
    float: left;
    line-height: 50px;
}

.searchnav-service img{
    float: left;
    width: 30px;
    height: 40px;
    margin-top: 3px;
}

.searchnav-service a {
    position: relative;
    float: left;
    display: block;
    width: 194px;
    height: 50px;
    margin-left: 14px;
    margin-right: 30px;
    font-size: 18px;
}

.searchnav-service a:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0px;
    margin-top: -3px;
    width: 11px;
    height: 6px;
    background-image: url(../images/jiantou_lo.png);
}

.searchnav-service .searchnav-service-li_2 a {
    width: 145px;
}

.searchnav-share {
    float: left;
    border-left: 2px solid #d4d4d4;
    height: 50PX;
    margin-top: 12px;
}

.searchnav-share a {
    float: left;
    margin-left: 30px;
    font-size: 18px;
}

.searchnav-share img {
    float: right;
    width: 20px;
    margin-top: 15px;
    margin-left: 10px;
}

.searchnav-right {
    float: right;
}
.searchnav-right img {
    float: left;
    width: 25px;
    margin-top: 26px;
    margin-right: 8px;
}
/* 展开 */
.searchnav-service-li_1-open {
    position: absolute;
    top: 74px;
    left: 0px;
    width: 100%;
    height: 406px;
    /* height: 0; */
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    margin-top: -4px;
    background-color: #f5f5f5;
    transition: all 0.4s;
    overflow: hidden;
    z-index: -1;
}

.searchnav-service-li_1-open-left {
    float: left;
    position: relative;
    width: 260px;
}

.searchnav-service-li_1-open-left img {
    width: 260px;
    margin-top: 40px;
    border-radius: 5px;
}

.searchnav-service-li_1-open-left>a {
    position: absolute;
    top: 40px;
    display: block;
    width: 260px;
    height: 300px;
}

.searchnav-service-li_1-open-left-more {
    position: absolute;
    right: -18px;
    bottom: -10px;
    width: 147px;
    height: 40px;
    background-color: #f66f6a;
    border-radius: 5px;
}

.searchnav-service-li_1-open-left-more a {
    position: relative;
    color: #fff;
    font-size: 18px;
    padding-left: 20px;
    line-height: 40px;
}

.searchnav-service-li_1-open-left-more a:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -36px;
    margin-top: -4px;
    width: 5px;
    height: 9px;
    background-image: url(../images/xiajiantou_right.png);
}

.searchnav-service-li_1-open .searchnav-service-li_1-open-list {
    float: left;
    margin-top: 80px;
    margin-left: 60px;
    width: 600px;
    height: 256px;
}

.searchnav-service-li_1-open-list li {
    float: left;
    width: 150px;
    height: 88px;
    padding-bottom: 40px;
    text-align: center;
}

.searchnav-service-li_1-open-list a {
    display: block;
    width: 150px;
    height: 88px;
}

.searchnav-service-li_1-open-list img {
    height: 52px;
}

.searchnav-service-li_1-open-list p {
    font-size: 18px;
    margin-top: -30px;
}

.searchnav-service-li_1-open-list li:hover span {
    position: relative;
    color: #f66f6a;
}

.searchnav-service-li_1-open-list li:hover span:after,
.searchnav-service-li_1-open-url:hover:after,
.searchnav-service-li_1-open-right-support a:hover:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -28px;
    margin-top: -10px;
    width: 20px;
    height: 19px;
    background-image: url(../images/fenxiang.png);
}

.searchnav-service-li_1-open-in {
    position: relative;
    float: left;
}

.searchnav-service-li_1-open-url {
    position: absolute;
    left: 0px;
    bottom: -22px;
    margin-left: 60px;
    font-size: 16px;
}

.searchnav-service-li_1-open-url:hover,
.searchnav-service-li_1-open-url:hover span {
    text-decoration: underline;
}

.searchnav-service-li_1-open-url span {
    color: #f66f6a;
}

.searchnav-service-li_1-open-right {
    float: left;
    width: 188px;
    padding: 40px 15px;
    box-sizing: border-box;
}

.searchnav-service-li_1-open-right a:hover,
.searchnav-service-li_1-open-right-support>a:hover span {
    text-decoration: underline;
}

.searchnav-service-li_1-open-right a:hover {
    text-decoration: underline;
}

.searchnav-service-li_1-open-right-support {
    float: left;
    width: 188px;
}

.searchnav-service-li_1-open-right-support h3 {
    font-size: 18px;
    padding-bottom: 5px;
    padding-left: 20px;
}

.searchnav-service-li_1-open-right-support ul {
    height: 250px;
    padding-left: 20px;
}

.searchnav-service-li_1-open-right-support li {
    width: 188px;
    font-size: 14px;
    margin-top: 24px;
}

.searchnav-service-li_1-open-right-support a {
    position: relative;
}

.searchnav-service-li_1-open-right-support>a {
    font-size: 16px;
}

.searchnav-service-li_1-open-right-support span {
    color: #f66f6a;
}
/* 轮播图 */
.carousel {
    position: relative;
    width: 1366px;
    height: 560px;
    margin: 0 auto;
    z-index: 45;
}

.carousel-list {
    position: relative;
    height: 560px;
    overflow: hidden;
}

.carousel-list li {
    position: absolute;
    top: 0;
    right: -1366px;
    /* width:  1366px; */
    width: 0;
    height: 0;
    transition: all 1s;
}

.carousel-list .carousel-list_active {
    right: 0px;
    width: 1366px;
    height: 560px;
}

.carousel-list_1:after {
    content: "";
    width: 431px;
    height: 181px;
    position: absolute;
    top: 110px;
    right: 180px;
    background-image: url(../upload/banner_1_5g.png);
}

.carousel-list-more {
    position: absolute;
    display: block;
    width: 132px;
    height: 22px;
    color: #000;
    font-size: 22px;
}

.carousel-list-more:after {
    content: "";
    position: absolute;
    top: 1px;
    right: 0px;
    display: block;
    width: 32px;
    height: 19px;
    background-image: url(../images/jiantou_right_black.png);
}

.carousel-list-more:hover:after {
    transition: all 0.2s;
    right: -10px;
}

.carousel-list_1 .carousel-list-more {
    top: 360px;
    right: 446px;
}

.carousel-list_2 .carousel-list-more {
    top: 360px;
    left: 160px;
}
/* 轮播图左右按钮 */
.carousel-list {
    position: relative;
}

.carousel-list:hover .carousel-list_left {
    visibility: visible;
}

.carousel-list .carousel-list_left {
    position: absolute;
    z-index: 20;
    top: 0;
    /* left: -130px; */
    left: 0px;
    width: 136px;
    height: 560px;
    visibility: hidden;
}

.carousel-list_left:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -16.5px;
    margin-left: -10px;
    display: block;
    width: 20px;
    height: 33px;
    background-image: url(../images/carousel-left.png);
}

.carousel-list:hover .carousel-list_right {
    visibility: visible;
}

.carousel-list .carousel-list_right {
    position: absolute;
    z-index: 20;
    top: 0;
    /* right: -130px; */
    right: 0px;
    width: 136px;
    height: 560px;
    visibility: hidden;
}

.carousel-list_right:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -16.5px;
    margin-left: -10px;
    display: block;
    width: 20px;
    height: 33px;
    background-image: url(../images/carousel-right.png);
}
/* 轮播图小圆点 */
.carousel-list-dots {
    position: absolute;
    float: right;
    bottom: 110px;
    right: 134px;
    height: 14px;
}

.carousel-list-dots li {
    float: left;
    width: 14px;
    height: 14px;
    box-sizing: border-box;
    border: 2px solid #404040;
    border-radius: 50%;
    margin-left: 10px;
}

.carousel-list-dots-active {
    background-color: #404040;
}
/* 轮播导航 */
.carousel-nav {
    position: relative;
    /* top: 460px; */
    top: calc((560px - 460px) * -1);
    left: 0px;
    width: 1106px;
    height: 183px;
    border-radius: 5px;
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 20px 0;
    box-sizing: border-box;
    margin: 0 auto;
}

.carousel-nav a {
    float: left;
    display: block;
    width: calc(100% / 3);
    height: 143px;
    border-left: 1px solid #d4d4d4;
    box-sizing: border-box;
    padding: 10px 40px;
}

.carousel-nav a:nth-child(1) {
    border: 0;
}

.carousel-nav a:hover h3 {
    color: #f66f6a;
}

.carousel-nav a:hover div img {
    float: right;
    display: block;
    width: 20px;
    height: 19px;
    padding: 0;
    margin-left: 20px;
    background-image: url(../images/fenxiang.png);

}

.carousel-nav img {
    float: left;
    padding: 10px 0px;
}

.carousel-nav div {
    float: right;
    width: 180px;
    padding-right: 10px;

}

.carousel-nav h3 {
    float: left;
    font-size: 22px;
    color: #222;
    margin-top: 6px;
    margin-bottom: 16px;

}

.carousel-nav p {
    float: left;
    font-size: 18px;
    color: #666;
}
/* 云服务 */
.cloud {
    height: 640px;
    padding-top: 184px;
}

.cloud-left {
    float: left;
    position: relative;
}

.cloud-left>a {
    position: relative;
    display: block;
    padding-top: 100px;
    padding-bottom: 166px;
    padding-right: 212px;
}

.cloud-left>a:hover .cloud-left-up {
    transition: all 0.4s;
    top: 40px;
}

.cloud-left>a:hover .cloud-left-lo {
    transition: all 0.4s;
    top: 575px;
}

.cloud-left>a:hover .carousel-list-more:after {
    transition: all 0.2s;
    right: -10px;
}

.cloud-left-bg {
    position: absolute;
    top: 0;
    left: -120px;
    width: 630px;
    height: 450px;
    background: linear-gradient(to bottom right, #15b0e8, #59c8d5);
    padding-top: 100px;
    padding-bottom: 120px;
    color: #fff;
    border-radius: 0 5px 5px 0;
    box-sizing: border-box;
    z-index: -1;
}

.cloud-left .text {
    width: 288px;
    color: #fff;
}

.cloud-left h2 {
    font-size: 38px;
    margin-bottom: 32px;
}

.cloud-left h4 {
    font-size: 24px;
    margin-bottom: 54px;
}

.cloud-left .carousel-list-more {
    color: #fff;
}

.cloud-left .carousel-list-more:after {
    background-image: url(../images/jiantou_right_white.png);
}

.cloud-left-up {
    position: absolute;
    top: 60px;
    left: 305px;
}

.cloud-left-lo {
    position: absolute;
    top: 555px;
    left: 305px;
}

.cloud-right {
    float: right;
}

.cloud-right>a {
    display: block;
    width: 452px;
    height: 640px;
    border-radius: 5px;
    box-sizing: border-box;
}

.cloud-right img {
    vertical-align: middle;
    width: 452px;
    height: 240px;
}

.cloud-right>a>div {
    height: 400px;
    padding: 40px 60px;
    background-color: #dde6ed;
    border-radius: 0px 0px 5px 5px;
    box-sizing: border-box;
}

.cloud-right div>div {
    font-size: 14px;
    margin-top: 15px;
    color: #666;
}

.cloud-right h2 {
    font-size: 38px;
    line-height: 48px;
    margin: 12px auto;
}

.cloud-right h4 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
}

.cloud-right span {
    margin-top: 100px;
}
/* 守护雨林 */
.duard {
    width: 1366px;
    margin: 100px auto;
}

.duard_video_box {
    position: relative;
    width: 1366px;
    height: 622px;
    overflow: hidden;
}

.duard_video_box:hover span {
    width: 78px;
    height: 78px;
    margin-top: -39px;
    margin-left: -39px;
    transition: all 0.2s;
}

.duard img {
    width: 1366px;
}

.duard span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -35px;
    width: 70px;
    height: 70px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.1);
}

.duard span:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -14px;
    margin-left: -7px;
    font-size: 0;
    width: 0;
    height: 0;
    border: 14px solid transparent;
    border-left-color: #eb5b56;
}
/* 展会活动 */
.box-title {
    width: 100%;
    height: 100px;
}
.box-title h2{
    float: left;
    font-size: 38px;
}

.box-title a {
    position: relative;
    float: right;
    font-size: 22px;
    color: #222;
    padding-right: 28px ;
}

.box-title a:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0px;
    margin-top: -6px;
    display: block;
    width: 6px;
    height: 11px;
    background-image: url(../images/jiantou_right.png);
}

.box-title a:hover:after {
    transition: all 0.2s;
    right: -10px;
}

.exhibition-carousel {
    position: relative;
    height: 526px;
    /* overflow: hidden; */
    
}

.exhibition-carousel {
    width: 100%;
    height: 670px;
}

.exhibition-carousel-list {
    position: relative;
    height: 526px;
}

.exhibition-carousel-list>div {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

.exhibition-carousel-list>div:nth-child(2) {
    display: block;
}

.exhibition-carousel-list>div>a {
    display: block;
    width: 100%;
    height: 406px;
    padding-top: 50px;
    padding-bottom: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.exhibition-carousel-list>div:hover .carousel-list-more:after {
    transition: all 0.2s;
    right: -10px;
}
/* 左右按钮 */
.exhibition-carousel-left {
    position: absolute;
    top: 50%;
    left: -60px;
    margin-top: -17px;
    width: 20px;
    height: 34px;
    background-image: url(../images/carousel-left.png);
}

.exhibition-carousel-right {
    position: absolute;
    top: 50%;
    right: -60px;
    margin-top: -17px;
    width: 20px;
    height: 34px;
    background-image: url(../images/carousel-right.png);

}
/* 轮播内容 */
.exhibition-carousel-text {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #dce6ee;
    width: 600px;
    height: 420px;
    padding-top: 50px;
    padding-bottom: 60px;
    padding-left: 106px;
    padding-right: 80px;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;
}

.exhibition-carousel-text div {
    font-size: 14px;
    margin-bottom: 12px;
}

.exhibition-carousel-text h3 {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 14px;
}

.exhibition-carousel-text h4 {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 24px;
}

.exhibition-carousel-text p {
    font-size: 18px;
    line-height: 30px;
    /* margin-bottom: 100px; */
}

.exhibition-carousel-text .carousel-list-more {
    margin-top: 40px;
}

.exhibition-carousel img {
    position: absolute;
    top: 0px;
    left: 586px;
    margin-top: -55px;
    border-radius: 5px;
}

.exhibition-carousel>ul {
    position: absolute;
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
}

.exhibition-carousel li {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid #404040;
    box-sizing: border-box;
    border-radius: 50%;
    margin-left: 8px;
    margin-right: 8px;
}

.exhibition-carousel li:nth-child(1) {
    background-color: #404040;
}
/* 成功故事 */
.story {
    width: 100%;
    padding-bottom: 100px;
}

.story-content>a {
    position: relative;
    float: left;
    display: block;
    width: 310px;
    height: 438px;
    padding: 0px 33px;
}

.story-content>a:hover img{
    margin-left: -20px;
}

.story-content>a:hover .carousel-list-more:after {
    transition: all 0.2s;
    right: -10px;
}

.story-content-bg {
    position: absolute;
    top: 90px;
    left: 50%;
    margin-left: -155px;
    width: 310px;
    height: 350px;
    background-color: #dde6ed;
    margin-bottom: 100px;
    border-radius: 5px;
}

.story-content-bg img {
    position: absolute;
    top: -90px;
    left: 0px;
    width: 310px;
    border-radius: 5px 5px 0 0;
}

.story-content-bg-text {
    position: absolute;
    top: 90px;
    left: 0px;
    width: 310px;
    height: 260px;
    padding: 30px 40px;
    padding-bottom: 60px;
    box-sizing: border-box;
}

.story-content-bg-text div {
    width: 230px;
    height: 128px;
    margin-bottom: 20px;
}

.story-content-bg-text div span {
    font-size: 14px;
    line-height: 22px;
}

.story-content-bg-text div h3 {
    font-size: 22px;
    margin-top: 10px;
}

.story .carousel-list-more {
    width: 92px;
}
/* 最近新闻 */
.news {
    margin-bottom: 100px;
}

.news-content-left {
    float: left;
    width: 408px;
    padding: 0 20px;
}

.news-content-left a {
    display: block;
    width: 408px;
    height: 496px;
}

.news-content-left-img {
    position: relative;
    width: 408px;
    height: 220px;
    overflow: hidden;
    background-color: red;
    line-height: 426px;
    border-radius: 5px 5px 0 0;
}

.news-content-left-img img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 100%;
}

.news-content-left-text {
    width: 408px;
    height: 276px;
    background-color: #dde6ed;
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 0 0 5px 5px;
}

.news-content-left-text div {
    font-size: 14px;
    color: #666;
}

.news-content-left-text h3 {
    font-size: 22px;
    line-height: 32px;
    height: 120px;
    margin-top: 5px;
    margin-bottom: 40px;
}

.news-content-left-text .carousel-list-more {
    width: 90px;
}

.news-content-right {
    float: left;
    width: 560px;
    height: 450px;
    margin-left: 115px;
}

.news-content-right ul {
    width: 450px;
}

.news-content-right li {
    padding-bottom: 60px;
}

.news-content-right li div {
    font-size: 14px;
    line-height: 22px;
    color: #666;
}

.news-content-right li a {
    font-size: 18px;
    line-height: 30px;
    color: #282828;
}

.news-content-right li a:hover {
    text-decoration: underline;
}
/* 页脚 */
.footre {
    padding-top: 60px;
    background-color: #f0f0f0;
}

.footre-nav {
    float: left;
    margin-bottom: 30px;
}

.footre-nav div {
    float: left;
    width: 280px;
}


.footre-nav div:nth-child(4) {
    width: 188px;
}

.footre-nav h3 {
    font-size: 22px;
    margin-bottom: 20px;
}

.footre-nav h3:hover a {
    transition: all 0.2s;
    margin-right: 10px;
}

.footre-nav li {
    font-size: 16px;
    padding-bottom: 20px;
}

.footre-nav .footre-nav-social {
    float: left;
    width: 100px;
}

.footre-nav-social li {
    padding-bottom: 30px;
}

.footre-others-nav {
    float: left;
}

.footre-others-nav h3 {
    font-size: 22px;
    margin: 20px 0;
}

.footre-others-nav h3:nth-child(1) {
    margin-top: 0;
}

.footre-others-nav li {
    display: inline-block;
    width: 260px;
    font-size: 16px;
    padding-bottom: 20px;
}

.footre-others-nav a {
    position: relative;
}

.footre-others-nav a:hover {
    text-decoration: underline;
}

.footre-others-nav a:hover:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -26px;
    margin-top: -10px;
    background-image: url(../images/fenxiang.png);
    width: 20px;
    height: 19px;
}

.footre-others-nav-no_share:hover:after {
    display: none;
}
/* 底部 */
.footre-bottom {
    width: 100%;
    height: 40px;
    color: #fff;
    background-color: #222;
    margin-top: 60px;
    line-height: 40px;
    font-size: 14px;
}

.footre-bottom a {
    color: #fff;
}

.footre-bottom-left {
    float: left;
}

.footre-bottom-left span {
    margin-right: 18px;
}

.footre-bottom-left a:hover {
    text-decoration: underline;
}

.footre-bottom-right {
    float: right;
}

.footre-bottom-right span {
    margin: 0 14px;
}